{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <link rel="stylesheet" href="{% static "css/dashboard.css" %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
  </head>
  <body>
    <header>
      <div id="nav">
        <div id="navbar">
          <div id="brand">
            <span
              style="
                font-size: 30px;
                cursor: pointer;
                color: #fff;
                margin-right: 2vw;
                margin-left: -2vw;
              "
              onclick="openNav()"
              >&#9776;</span
            >
            <a href="/home" id="logo">
              <svg
                viewBox="0 0 75 56"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M46.919 6.25491L38.086 12.5244V32.6368C38.086 45.1758 38.1446 52.7344 38.2178 52.7051C38.3057 52.6905 41.9092 49.9219 46.2305 46.5821C50.5518 43.2422 54.6973 40.1221 55.4298 39.668C56.1622 39.2139 56.8799 38.6866 57.0264 38.5108C57.2608 38.2178 57.2755 37.1192 57.2755 20.0391V1.88967L56.9678 1.27444C56.6163 0.58596 56.1329 2.28882e-05 55.8985 2.28882e-05C55.8106 2.28882e-05 51.7676 2.81252 46.919 6.25491Z"
                  fill="#FAFAFF"
                />
                <path
                  d="M9.05268 8.4229C7.20698 8.62798 6.63569 8.84771 6.0937 9.56548L5.78608 9.97564L5.74213 27.7295C5.71284 40.1075 5.74213 45.6446 5.85932 46.0254C5.96186 46.3624 6.21088 46.7286 6.5478 46.9776L7.07514 47.3878L11.7773 47.4756C16.4648 47.5635 16.4941 47.5635 18.9697 48.0909C24.7705 49.3213 27.6562 50.2442 31.6406 52.1485C34.1162 53.335 35.3906 53.9063 35.5371 53.9063C35.5664 53.9063 35.5957 44.7217 35.5957 33.501V13.0958L34.6875 12.9053C34.1894 12.8028 32.3437 12.2022 30.6005 11.5577C25.2392 9.60942 22.3828 8.877 18.457 8.4229C16.2451 8.15923 11.455 8.15923 9.05268 8.4229Z"
                  fill="#FAFAFF"
                />
                <path
                  d="M59.8829 23.3789C59.8389 37.6758 59.8243 38.6279 59.5753 39.1845C59.1944 40.0342 58.6964 40.5029 57.0997 41.5429C55.254 42.7441 44.2823 51.0937 43.213 52.1045C43.0958 52.207 43.7256 51.9726 44.6046 51.5478C47.3438 50.2588 50.962 49.1748 56.3965 48.0176C58.4473 47.5781 58.6817 47.5488 63.2081 47.4756C67.8516 47.3877 67.8956 47.3877 68.3936 47.0361C69.3458 46.3623 69.2872 47.4609 69.2872 27.9345V10.1513L68.9503 9.66793C68.2471 8.61325 67.3243 8.40817 62.7393 8.24704L59.9268 8.15915L59.8829 23.3789Z"
                  fill="#FAFAFF"
                />
                <path
                  d="M0.644531 13.3594C0.46875 13.4327 0.249023 13.667 0.161133 13.8575C0.0439453 14.1211 0 19.834 0 34.2188V54.2286L0.424805 54.6534L0.84961 55.0782L16.3623 55.0635L31.8604 55.0489L29.9561 54.1114C27.085 52.6905 23.7305 51.6505 18.3106 50.5079C16.2598 50.0684 16.0254 50.0391 11.4258 49.9659L6.66504 49.878L5.81543 49.4532C4.83399 48.9551 4.05762 48.1495 3.60352 47.1827L3.2959 46.5088L3.25195 29.8389L3.22266 13.1836L2.08008 13.1983C1.46484 13.1983 0.805664 13.2715 0.644531 13.3594Z"
                  fill="#FAFAFF"
                />
                <path
                  d="M71.7481 29.8389L71.7042 46.5088L71.294 47.3438C70.8253 48.296 69.9757 49.1163 69.0089 49.5704C68.379 49.8487 68.0128 49.878 63.5743 49.9659C58.9454 50.0538 58.7549 50.0684 56.6163 50.5225C51.2403 51.6651 47.8858 52.7198 45.0147 54.126L43.1397 55.0489L58.6378 55.0635L74.1505 55.0782L74.5753 54.6534L75.0001 54.2286V34.2188C75.0001 19.878 74.9561 14.1211 74.8389 13.8721C74.6046 13.3594 74.1065 13.1836 72.876 13.1836H71.7774L71.7481 29.8389Z"
                  fill="#FAFAFF"
                />
              </svg>
              <h1 id="logo-title-1">Open</h1>
              <h1 id="logo-title-2">Lib</h1>
            </a>
          </div>

          <div id="user">
            <a href="">
              <i class="bx bx-user-circle"></i>
              <h1 class="username">Hello, Admin</h1>
            </a>
          </div>
        </div>
      </div>
    </header>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      <a href="#main"><i class="bx bx-data"></i>Dashboard</a>
      <a href="#add-book"> <i class="bx bx-book"></i>Manage books</a>
      <a href="#manage-user"><i class="bx bx-user-check"></i>Manage User</a>
      <a href="#issue-book"
        ><i class="bx bx-bookmark-alt-plus"></i>Issue Book</a
      >
      <a href="#return-book"
        ><i class="bx bxs-bookmark-alt-minus"></i>Return Book</a
      >
      <a href="#view-records"><i class="bx bx-spreadsheet"></i>View Records</a>
      <a href=""><i class="bx bx-log-out"></i>Logout</a>
    </div>

    <div id="main">
      <div id="container">
        <div class="left-container">
          <div class="search">
            <i class="bx bx-search"></i>
            <input
              type="search"
              placeholder="Search by Title / Author"
              style="width: 100%; border: none"
              id="search"
            />
          </div>
          <div class="container table-container">
            <table id="book-table">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Book Title</th>
                  <th>Author</th>
                  <th>Publication</th>
                  <th>Genre</th>
                  <th>Isbn</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                <!-- Table rows will be added here dynamically -->
              </tbody>
            </table>
          </div>
        </div>
        <div class="right-container">
          <!-- No. of books -->
          <div class="book-no">
            <div class="icon-container icon-container-1">
              <i
                class="bx bx-book-reader"
                style="color: #fff; font-size: clamp(20px, 5vw, 16px)"
              ></i>
            </div>
            <div class="book-count">
              <h5>Total books</h5>
              <h1>46</h1>
            </div>
          </div>
          <!-- No. of users -->
          <div class="book-no">
            <div class="icon-container icon-container-2">
              <i
                class="bx bx-user"
                style="color: #fff; font-size: clamp(20px, 5vw, 16px)"
              ></i>
            </div>
            <div class="book-count">
              <h5>No. Of Users</h5>
              <h1>46</h1>
            </div>
          </div>
          <!-- Issued Books -->
          <div class="book-no">
            <div class="icon-container icon-container-3">
              <i
                class="bx bx-book-add"
                style="color: #fff; font-size: clamp(20px, 5vw, 16px)"
              ></i>
            </div>
            <div class="book-count">
              <h5>Issued Books</h5>
              <h1>46</h1>
            </div>
          </div>
          <!-- Defaulter list -->
          <div class="book-no">
            <div class="icon-container icon-container-4">
              <i
                class="bx bx-user-minus"
                style="color: #fff; font-size: clamp(20px, 5vw, 16px)"
              ></i>
            </div>
            <div class="book-count">
              <h5>Defaulter Users</h5>
              <h1>46</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Manage books page -->
    <div id="add-book" style="display: none">
      <div class="manage-book-container">
        <div id="add-book-container">
          <h1>Add New Book</h1>
          <form id="add-book-form">
            <label for="image">Add Image:</label>
            <input type="file" id="image" name="image" /><br /><br />

            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required /><br /><br />

            <label for="author">Author:</label>
            <input type="text" id="author" name="author" required /><br /><br />

            <label for="year">Publication Year:</label>
            <input type="number" id="year" name="year" required /><br /><br />

            <label for="genre">Genre / Category:</label>
            <input type="text" id="genre" name="genre" required /><br /><br />

            <label for="ISBN">ISBN:</label>
            <input type="number" id="ISBN" name="ISBN" required /><br /><br />

            <button type="submit">Add Book</button>
          </form>
        </div>

        <div
          id="remove-book-container"
          onsubmit="return confirm('Are you sure you want to remove this book?');"
        >
          <h1>Remove Book</h1>
          <form id="remove-book-form">
            <label for="ISBN">ISBN:</label>
            <input type="number" id="ISBN" name="ISBN" required /><br /><br />

            <button type="submit">Remove Book</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Manage User -->
    <div id="manage-user-container" style="display: none">
      <div class="search">
        <i class="bx bx-search"></i>
        <input
          type="search"
          placeholder="Search by Title / Author"
          style="width: 100%; border: none"
          id="search"
        />
      </div>
      <div class="container table-container">
        <table id="book-table">
          <thead>
            <tr>
              <th>UserId</th>
              <th>Username</th>
              <th>Phone No.</th>
              <th>Email</th>
              <th>Book borrowed</th>
              <th>Pending fees</th>
            </tr>
          </thead>
          <tbody>
            <!-- Table rows will be added here dynamically -->
          </tbody>
        </table>
      </div>
    </div>

    <!-- Issue book section -->
    <div id="issue-book-container" style="display: none">
      <div class="issue-container">
        <h1>Issue Book</h1>
        <form id="issue-form" action="" method="post">
          <div>
            <label for="memberID">Member ID:</label>
            <input type="text" id="memberID" name="memberID" required />
          </div>

          <div>
            <label for="memberName">Member name:</label>
            <input type="text" id="memberName" name="memberName" required />
          </div>

          <div>
            <label for="bookISBN">Book ISBN:</label>
            <input type="text" id="bookISBN" name="bookISBN" required />
          </div>

          <div>
            <label for="issueDate">Issue Date:</label>
            <input type="date" id="issueDate" name="issueDate" required />
          </div>

          <div>
            <label for="issueDate">Issue Date:</label>
            <input type="date" id="issueDate" name="issueDate" required />
          </div>

          <button type="submit">Issue Book</button>
        </form>
      </div>
    </div>

    <!-- Return book section -->
    <div id="return-book-container" style="display: none">
      <div class="return-container">
        <h1>Return Book</h1>
        <form id="return-form" action="" method="post">
          <div>
            <label for="memberID">Member ID:</label>
            <input type="text" id="memberID" name="memberID" required />
          </div>

          <div>
            <label for="memberName">Member name:</label>
            <input type="text" id="memberName" name="memberName" required />
          </div>

          <div>
            <label for="bookISBN">Book ISBN:</label>
            <input type="text" id="bookISBN" name="bookISBN" required />
          </div>

          <div>
            <label for="returnDate">Return Date:</label>
            <input type="date" id="returnDate" name="returnDate" required />
          </div>

          <div>
            <label for="daysElapsed">Days Elapsed</label>
            <input type="number" id="daysElapsed" name="daysElapsed" required />
          </div>

          <button type="submit">Return Book</button>
        </form>
      </div>
    </div>

    <!-- View record section -->
    <div id="view-record-container" style="display: none">
      <div class="search">
        <i class="bx bx-search"></i>
        <input
          type="search"
          placeholder="Search by Title / Author"
          style="width: 100%; border: none"
          id="search"
        />
      </div>
      <div class="container table-container">
        <table id="book-table">
          <thead>
            <tr>
              <th>UserId</th>
              <th>Username</th>
              <th>Issued Date</th>
              <th>Return Dates</th>
              <th>ISBN</th>
            </tr>
          </thead>
          <tbody>
            <!-- Table rows will be added here dynamically -->
          </tbody>
        </table>
      </div>
    </div>


    <script src="{% static "js/dashboard.js" %}"></script>
  </body>
</html>
