/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Spectral+SC:wght@400;800&display=swap');

/* Reset default styles and set the default font family */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Condensed', 'Montserrat', sans-serif;
}

/* General link styling */
a {
    text-decoration: none;
    color: #818181;
}

a:hover {
    color: #f1f1f1;
}

/* Set height and width for the entire document */
html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* Pages */
#page1,
#page2,
#page3,
#page4 {
    min-height: 100vh;
    width: 100%;
}


/* Navigation bar */

#nav {
    background-color: #000;
}

#navbar {
    display: flex;
    margin: 0 4vw;
    min-width: 92vw;
    align-items: center;
    justify-content: space-between;
}

#nav-items {
    display: flex;
}

#nav-items h3 {
    color: #fff;
    margin-right: 2vw;
    font-size: 1.3vw;
}

/* Logo */
#logo {
    display: flex;
    align-items: center;
}

#logo svg {
    width: clamp(40px, 5vw, 3vw);
    height: auto;
}

#logo h1 {
    color: #fff;
    font-size: clamp(40px, 5vw, 3vw);
}

#logo #logo-title-2 {
    color: rgb(221, 60, 60);
}


/* Button */
.btn-hover {
    text-align: center;
    width: 8vw;
    font-size: 1.3vw;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    color: #fff;


    border-radius: .5rem;
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);

}

.btn-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    color: #f1f1f1;
}

.btn-hover:focus{
    outline: none;
}

.d-none {
    display: none;
}

/* Containers */
#page1 .container {
    width: 100%;
    height: auto;
    display: flex;
    padding-left: 4vw;
}

/* Page 1 left container */
#page1 .container .left-container {
    width: 50%;
    height: auto;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

#page1 .container .left-container h1 {
    font-size: clamp(30px, 5vw, 5vw);
    font-weight: 900;
    line-height: 100%;
    text-align: left;
    margin-bottom: 3vh;
}

#page1 .container .left-container h3 {
    font-size: clamp(16px, 100%, 5vw);
    line-height: 110%;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #6D7481;
    margin-bottom: 5vh;
}

#page1 .container .email-submit {
    display: flex;
    align-items: center;
    width: 90%;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 1vh;
}

#page1 .container .email-submit input {
    font-family: 'Inter';
    width: 80%;
    height: 3.5vw;
    border-radius: .3vw;
    padding-left: 20px;
    font-size: 1vw;
    margin-right: 1vw;
    border: .01vw solid;
}

#page1 .container .email-submit button {
    cursor: pointer;
    width: 20%;
    height: max-content;
    margin-right: 1vw;
    font-size: 1.5vw;
    font-weight: 700;
    background-color: #f00;
    border-radius: .3vw;
    color: #fff;
    border: none;
    font-family: 'Saira Condensed';
    flex-shrink: 0;
}

#page1 .container .email-submit button:hover {
    background-color: rgb(189, 0, 0);
}

#page1 pre {
    display: flex;
    align-items: center;
    min-width: 100%;
    font-family: 'Montserrat';
    font-size: 1vw;
    color: #6D7481;
}

#page1 pre img {
    width: 5vw;
}

/* Page 1 right container */
#page1 .right-container {
    width: 50%;
    position: relative;
}

#page1 .right-container .background-squares {
    position: absolute;
    top: 5%;
    z-index: -1;
    width: 30vw;
    opacity: 70%;
}

#page1 .right-container .hero-image {
    position: absolute;
    left: 15%;
    top: 18%;
    width: 40vw;
}

/* Mobile menu */

#mobile-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 0;
    z-index: 1;
    top: 0;
    background-color: #111;
    overflow: hidden;
    transition: .5s;
    width: 100%;
}

.mobile-menu-items {
    text-align: center;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding: 8px 8px 8px 32px;
}

#close-btn a {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Seperator */
.seperator {
    background-color: #D9D9D9;
    width: 100%;
    height: .5vh;
}

#page2 .page2-title {
    display: grid;
    text-align: center;
}

#page2 .page2-title .title {
    font-size: 5vw;
    font-weight: 800;
    font-family: 'Spectral SC';
    position: relative;
}

#page2 .page2-title .title::after {
    content: "";
    position: absolute;
    bottom: -5px;
    /* Adjust this value to control the length of the underline */
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: .2vw;
    /* Adjust this value to control the thickness of the underline */
    background-color: #D9D9D9;
}

.red-rectangle {
    width: 0.3vw;
    height: 8vw;
    background-color: #f00;
    border-radius: 0.15vw;
    margin-right: 1vw;
    margin-left: 4vw;
}

#user-title {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 5vw;
}

#user-title h1 {
    font-family: 'Spectral Sc';
    font-weight: 400;
    font-size: 4vw;
}

#user-title svg {
    position: absolute;
    right: 0;
}

#page2 .container,
#page3 .container {
    display: flex;
    align-items: center;
    padding: 0 4vw;
    margin: 3vw 0;
}

.photo {
    width: 40vw;
}

#page2 .text-1,
#page3 .text-1 {
    width: 50%;
}

#page2 .text-1 .title,
#page3 .text-1 .title {
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 2vw;
    line-height: 120%;
}

#page2 .text-1 .title .red-rectangle,
#page3 .text-1 .title .red-rectangle {
    width: 0.5vw;
    height: 7vw;
    background-color: #f00;
    border-radius: 0.15vw;
    margin-right: 1vw;
    margin-left: 4vw;
}

#page2 .text-1 h3,
#page3 .text-1 h3 {
    margin-left: 4vw;
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 1.25vw;
    margin-top: 2vh;
}

#page2 .text-2,
#page3 .text-2 {
    width: 50%;
}

#page2 .text-2 .title-2,
#page3 .text-2 .title-2 {
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 2vw;
    line-height: 135%;
}

#page2 .text-2 .title-2 #red-rectangle,
#page3 .text-2 .title-2 #red-rectangle {
    width: 0.5vw;
    height: 7vw;
    background-color: #f00;
    border-radius: 0.15vw;
    margin-right: 1vw;
}

#page2 .text-2 h3,
#page3 .text-2 h3 {
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 1.25vw;
    margin-top: 2vh;
}

.bluebox {
    width: 100%;
    height: fit-content;
    padding: 3vw 0;
    display: grid;
    place-items: center;
    background-color: #00f;
    opacity: 80%;
    text-align: center;
}


.feedback-text {
    font-family: 'Inter';
    color: #fff;
    font-size: 2vw;
    width: 60%;
    font-weight: 600;
}

.feedback-user {
    margin-top: 2vw;
    display: flex;
    align-items: center;
}

.feedback-photo {
    width: 3vw;
    border-radius: 50%;
    margin-right: 1vw;
}

.feedback-user span a {
    color: #fff;
    font-family: 'Inter';
    font-size: 1.5vw;
    opacity: 80%;
}

.feedback-user span a:hover {
    opacity: 100%;
}

.form {
    position: relative;
    display: grid;
    place-items: center;
    height: 40vw;
}

.triangle-below {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    z-index: -2;
    border-bottom: 30vw solid #d1e6fc;
    border-left: 100vw solid transparent;
}

.triangle-above {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    z-index: -1;
    border-bottom: 15vw solid #abd3fd;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80vw;
}

.form-text-heading {
    font-size: 5vw;
    width: 80vw;
}

.form-text {
    font-family: 'Inter';
    font-size: 1vw;
    font-weight: 400;
    width: 60%;
    margin: 0 auto;
}

#page4 .email-submit {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 7vw;
}

#page4 .email-submit input {
    font-family: 'Inter';
    width: 80%;
    height: 3vw;
    border-radius: .3vw;
    padding-left: 20px;
    font-size: 1vw;
    margin-right: 1vw;
    border: .01vw solid;
}

#page4 .email-submit button {
    /* padding: .3rem 0; */
    cursor: pointer;
    width: 20%;
    height: max-content;
    margin-right: 1vw;
    font-size: 1.5vw;
    font-weight: 700;
    background-color: #f00;
    border-radius: .3vw;
    color: #fff;
    border: none;
    font-family: 'Saira Condensed';
}

#page4 .email-submit button:hover {
    background-color: rgb(189, 0, 0);
}


#page5 {
    display: grid;
    place-items: center;
    width: 100vw;
    height: fit-content;
    padding: 2rem 0;
    background-color: #000;
}

#page5 .footer-container-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 83.3333%;
    height: fit-content;
    font-size: clamp(40px, 5vw, 5vw);
    font-weight: 700;
    color: #fff;
}

.icon-container {
    padding-left: 4vw;
}

.footer-container-1 .container1 {
    display: flex;
    flex-direction: column;
    line-height: 100%;
}

.text-red {
    color: rgb(221, 60, 60);
}

.footer-container-2 {
    width: 83.333%;
    display: flex;
    align-items: center;
}

.footer-container-2 .email {
    display: flex;
    align-items: center;
}

.footer-container-2 .credit-learn {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
}

.footer-container-2 .credit-learn a {
    padding-left: 4vw;
    opacity: 70%;
}


/* Media queries */
@media screen and (max-width: 1480px) {

    #page1,
    #page2,
    #page3,
    #page4 {
        min-height: fit-content;
    }
}


@media screen and (max-width: 768px) {
    #nav-items {
        display: none;
    }

    #mobile-menu-button {
        display: block;
    }

    .d-none {
        display: block;
    }

    /* Hamburger menu button */
    #mobile-menu-button {
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: #fff;
    }

    #page1 .container {
        width: 100%;
        padding: 0;
    }

    #page1 .container .left-container {
        width: 90%;
        margin: 2vh auto;
    }

    #page1 .container .right-container {
        display: none;
    }

    #page1 .container .left-container .email-submit {
        width: 100%;
    }

    #page1 .container .left-container .email-submit input,
    #page1 .container .left-container .email-submit button {
        font-size: 20px;
        height: fit-content;
    }

    #page1 .container .left-container .email-submit input {
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    #page1 .container .left-container pre {
        font-size: 8px;
    }

    #page1 .container .left-container pre img {
        width: 9vw;
    }
}