/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    font-family: 'Saira Condensed', 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #dadada;
}

header {
    background-color: #f00;
    padding: 1rem;
    text-align: center;
}

header h1 {
    color: #fff;
}

main {
    margin: 2rem;
}

section {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-top: 1rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.2rem;
}

button {
    background-color: #f00;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: .5s ease;
    margin-top: 1rem;
}

button:hover {
    background-color: #f00;
    box-shadow: 0px 0px 20px 0px #f00;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#user-info {
    order: 1;
}

/* Profile pic*/
.profile-pic {
    position: relative;
    order: 2;
}

.profile-pic-image {
    width: 200px;
    max-height: 200px;
    display: inline-block;
}

.file-upload {
    display: none;
}

.circle {
    border-radius: 100% !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.circle img {
    max-width: 100%;
    height: auto;
}

.p-image {
    position: absolute;
    top: 80%;
    right: 10px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button {
    font-size: 1.2em;
}

.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}

.fa-arrow-left {
    font-size: 30px;
    position: absolute;
    left: 2%;
    top: 25%;
    z-index: 1;
    color: #fff;
}

.fa-arrow-left:hover {
    color: #81818193;
}


@media screen and (max-width: 768px) {
    
    .user-info {
        flex-direction: column;
        min-width: max-content;
    }

    .edit-profile {
        min-width: max-content;
    }

    .profile-pic {
        order: 1;
        margin-bottom: 2rem;
    }

    #user-info {
        order: 2;
    }

    button {
        width: 100%;
    }
}