/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    font-family: 'Saira Condensed', 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #dadada;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.highlight {
    background-color: rgba(0, 0, 255, 0.349);
}

#nav {
    background-color: #000;
}

#navbar {
    display: flex;
    margin: 0 4vw;
    min-width: 92vw;
    align-items: center;
    justify-content: space-between;
}

#brand {
    display: flex;
    align-items: center;
}

/* Logo */
#logo {
    display: flex;
    align-items: center;
}

#logo svg {
    width: clamp(30px, 5vw, 3vw);
    height: auto;
}

#logo h1 {
    color: #fff;
    font-size: clamp(30px, 5vw, 3vw);
}

#logo #logo-title-2 {
    color: rgb(221, 60, 60);
}

#user a {
    color: #ffffffa4;
    display: flex;
    align-items: center;
}


#user a:hover {
    color: #fff;
}

i {
    margin-right: .5vw;
}

#user i {
    margin-right: .5vw;
    font-size: clamp(20px, 5vw, 2vw);
}

.username {
    font-size: clamp(20px, 5vw, 2vw);
}

/* sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#main,
#add-book {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}


.left-container {
    width: 70%;
    max-height: 80vh;
    overflow: hidden;
    margin: 3vh 0;
}

.container {
    border: 2px solid #d9d9d9;
    max-height: 70vh;
    overflow: scroll;
}

.search {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    margin-bottom: 1vw;
    border-radius: .5vw;
    padding: 0 1vw;
    background-color: #fff;
}

#book-table {
    width: 100%;
    background-color: #fff;
}

#book-table thead {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff;
}

#book-table thead tr,
tbody tr {
    display: flex;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #d9d9d9;
    justify-content: space-around;
}

#book-table thead tr th,
#book-table tbody tr td {
    width: 4rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .5s ease-in-out;
}

#book-table thead tr th:hover,
#book-table thead tr td:hover {
    overflow: visible;
    white-space: normal;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 80vh;
}

/* no. of books */
.book-no {
    width: 80%;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
    overflow: hidden;
    padding: 1vw 0;
}

.icon-container {
    aspect-ratio: 1;
    width: clamp(40px, 5vw, 80px);
    margin: 0 2vw;
    border-color: transparent;
    border-radius: .2rem;
    display: grid;
    place-items: center;
}

.icon-container-1 {
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 0px 15px 0px #f00;
}

.icon-container-2 {
    background-color: #febf04;
    box-shadow: 0px 0px 15px 0px #febf04;
}

.icon-container-3 {
    background-color: #2bd766;
    box-shadow: 0px 0px 15px 0px #2bd766;
}

.icon-container-4 {
    background-color: #00f;
    box-shadow: 0px 0px 15px 0px #00f;
}

.icon-container i {
    margin: 0 auto;
}

.book-count {
    display: grid;
    place-items: end;
    padding-right: 1.5vw;
    width: 100%;
}

.book-count h5 {
    color: #9c9393;
    font-size: 1rem;
}


/* Manage Book Section */
.manage-book-container {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: fit-content;
}

#add-book-container,
#remove-book-container {
    width: 50%;
    display: grid;
    place-items: center;
}

#add-book-container h1,
#remove-book-container h1 {
    margin-bottom: 3vh;
}

#add-book-form input,
#remove-book-form input {
    width: 100%;
}

#add-book-form label,
#remove-book-form label {
    font-weight: 700;
}

#add-book-form button,
#remove-book-form button,
#issue-form button,
#return-form button {
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #f00;
    color: #fff;
    font-weight: 700;
    border-radius: .5rem;
    border: none;
    box-shadow: 0px 0px 10px 0px #f00;
    cursor: pointer;
}

/* Manage User Section */
#manage-user-container,
#issue-book-container,
#view-record-container {
    margin: 2% 1%;
}

#manage-user-container .container {
    height: 100vh;
    background-color: #fff;
}

#manage-user-container .container thead tr th,
#manage-user-container .container tbody tr td {
    width: 100%;
}


/* Issue & return Book Section */

#issue-book-container .issue-container,
#return-book-container .return-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.issue-container>*,
.return-container>* {
    margin-bottom: 2vh;
}

.issue-container #issue-form,
.return-container #return-form {
    display: flex;
    align-items: start;
    flex-direction: column;
}

#issue-form div,
#return-form div {
    margin-bottom: 1vh;
    width: 100%;
}

#issue-form div label,
#reutrn-form div label {
    font-weight: 700;
    margin-bottom: -0.5vh;
}

#issue-form div input,
#return-form div input {
    width: 100%;
    height: fit-content;
    justify-content: start;
    margin-bottom: 1vh;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width : 700px) {
    #container {
        display: flex;
        flex-direction: column;
    }

    .left-container,
    .right-container {
        width: 100%;
    }

    .right-container {
        order: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: fit-content;
        gap: 2vw;
        margin: 2vh 0;
    }

    .left-container {
        order: 2;
    }

    .book-no {
        flex-direction: column;
        padding: 1.5vh 0;
        width: 100%;
    }

    .book-count {
        display: block;
        text-align: center;
        padding: 0;
        margin-top: 1vh;
    }

    .manage-book-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-top: 5vh;
    }

    #add-book-container {
        margin-bottom: 5vh;
    }
}