{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static "css/profile.css" %}" />
    <script src="https://kit.fontawesome.com/f654dd9465.js" crossorigin="anonymous"></script>
</head>

<body>
    <header style="position: relative;">
        <a href="/userpage/user">
            <div class="fa fa-arrow-left"></div>
        </a> 
        <h1>User Profile</h1>
    </header>
    <main>
        <section class="user-info">
            <div id="user-info">
                <h2>User Information</h2>
                <p><strong>Name:</strong> <span id="userName">John Doe</span></p>
                <p>
                    <strong>Email:</strong>
                    <span id="userEmail">john.doe@example.com</span>
                </p>
                <p>
                    <strong>Phone Number:</strong>
                    <span id="userPhone">123-456-7890</span>
                </p>
                <p>
                    <strong>Location:</strong>
                    <span id="userLocation">New York, USA</span>
                </p>
            </div>
            <div class="profile-pic">
                <div class="small-12 medium-2 large-2 columns">
                    <div class="circle">
                        <img class="profile-pic"
                            src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
                    </div>
                    <div class="p-image">
                        <i class="fa fa-camera upload-button"></i>
                        <input class="file-upload" type="file" accept="image/*" />
                    </div>
                </div>
        </section>

        <section class="edit-profile">
            <h2>Edit Profile</h2>
            <form id="profileForm">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required />

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required />

                <label for="phone">Phone Number:</label>
                <input type="text" id="phone" name="phone" required />

                <label for="location">Location:</label>
                <input type="text" id="location" name="location" required />

                <button type="submit">Save Changes</button>
            </form>
        </section>
    </main>

    <script src="{% static "js/profile.js" %}"></script>
</body>

</html>